[project]
	description = build system
[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-build
	forgeCommitter = group AOSP
	push = group AOSP
	label-Verified = -1..+1 group AOSP
[access]
	inheritFrom = Platform-Projects
