
#include "{header}.h"
#include "{header}_flag_provider.h"
#include <android_base/no_destructor.h>

namespace {cpp_namespace} \{

flag_provider_interface& getProvider() {
    static android::base::NoDestructor<flag_provider> provider;
    return provider;
}

}
