package {package_name};
// TODO(b/303773055): Remove the annotation after access issue is resolved.
import android.compat.annotation.UnsupportedAppUsage;

/** @hide */
public interface FeatureFlags \{
{{ for item in flag_elements }}
    @UnsupportedAppUsage
    boolean {item.method_name}();
{{ endfor }}
}
